@media (max-width: 770px) {
    /* CSS rules for screens narrower than 750 pixels */
    body{
        min-height: 1000px;
    }
    section{
        width: 90%;
    }
    .main{
        height: 100%;
        flex-direction: column;
    }

    .result, .summary{
        width: 100%;
        height: 50%;
    }
}


